a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
body { background-color:#C0C0C0; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_6847f1d0 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:630px; background-color:#FFFFFF;  }
#img_7ecb5c5f { vertical-align: bottom; position:relative; display: inline-block; width:85%; background:none; height:auto;  }
#container_431e0d1c { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:961px; background-color:#FFFFFF;  }
#container_431e0d1c_padding { margin: 10px; display: block;  }
#container_48b5813c { vertical-align: top; position:relative; display: inline-block; width:56%; min-height:643px; background:none;  }
#container_48b5813c_padding { margin: 10px; display: block;  }
.textstyle2 { font-size:26pt; font-family:Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', sans-serif-condensed, sans-serif; color:#442443;  }
#img_55c6bb89 { vertical-align: bottom; position:relative; display: inline-block; width:9%; background:none; height:auto;  }
#img_68fc1c65 { vertical-align: bottom; position:relative; display: inline-block; width:9%; background:none; height:auto;  }
.textstyle3 { font-size:16pt; font-family:Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', sans-serif-condensed, sans-serif; color:#000000;  }
.textstyle4 { font-size:16pt; font-family:Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', sans-serif-condensed, sans-serif; color:#93C0B3;  }
.textstyle5 { font-size:16pt; font-family:Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', sans-serif-condensed, sans-serif; color:#E27035;  }
.textstyle6 { font-size:14pt; font-family:Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', sans-serif-condensed, sans-serif; color:#E27035;  }
.textstyle7 { font-size:16pt; font-family:Arial, Helvetica, sans-serif; color:#93C0B3;  }
.textstyle8 { font-size:16pt; font-family:Arial, Helvetica, sans-serif; color:#442443;  }
.textstyle9 { font-size:26pt; font-family:Arial, Helvetica, sans-serif; color:#442443;  }
.textstyle10 { text-align:left; }
#img_8884fa5 { position:absolute; left:68%; top:86%; width:32%; background:none; height:auto;  }
#img_614a360 { position:absolute; left:1%; top:85%; width:32%; background:none; height:auto;  }
#img_1c6e0b8e { position:absolute; left:36%; top:86%; width:30%; background:none; height:auto;  }
.textstyle11 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
