a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_66882640 { vertical-align: top; position:relative; display: inline-block; width:99%; min-height:666px; background:none;  }
#container_66882640_padding { margin: 10px; display: block;  }
.textstyle2 { font-size:20pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
.textstyle3 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
.textstyle4 { text-align:center; }
#container_21b57895 { vertical-align: top; position:relative; display: inline-block; width:81%; min-height:150px; background:none;  }
#container_21b57895_padding { margin: 10px; display: block;  }
.textstyle5 { text-align:right; }
#img_27dba1b5 { vertical-align: bottom; position:relative; display: inline-block; width:13%; background:none; height:auto;  }
